## Configuration file for DTW-SOM experiments

[general]
n-jobs = 8
verbosity = 0

[data]
collection = /Users/folgert/Dropbox/stories/data/sinnighe-actor/SINVS*.txt
outputdir = .

[dtw]
# type of warping constraint (none or slanted_band or sakoe_shiba)
constraint = slanted_band

# step pattern through the dynamic matrix (2 for symmetric, 1 for assymetric)
step-pattern = 2

# window size around warping path (specify like 1:5 for a range)
window = 5

# the metric to compute the distances between points on the warping path
metric = seuclidean

# whether to compute a normalized dtw distance
normalize = no


[som]
# the width and height of the som grid (can be specified as range, use [1:5])
size = 8

# influences the slope of the learning curve and neighborhood function
slope = 0.2:0.5

# initial neighborhood value (number or relative to size (use "relative"))
sigma = relative

# final neighborhood value
sigma-end = 0.5:1.0:0.1

# initial learning rate value
eta = 0.5:1.0:0.1

# final learning rate value
eta-end = 0.01:0.1:0.01

# decay function of the learning rate and neighborhood
decay-function = exponential

# how to initialize the neurons. options are: random or observations
init-weights = random

# training procedure. options are: batch or random 
training-procedure = random

# number of iterations for learning
iterations = 10000

# random seed number
seed = 20