## Configuration file for DTW-SOM experiments

[general]
n-jobs = 8
verbosity = 1

[data]
collection = /Users/folgert/Dropbox/stories/data/sinnighe-actor/SINVS*.txt
outputdir = .

[dtw]
# type of warping constraint (none or slanted_band)
constraint = slanted_band

# step pattern through the dynamic matrix (2 for symmetric, 1 for assymetric)
step-pattern = 2

# window size around warping path (specify like 1:5 for a range)
window = 5


[som]
# the width and height of the som grid (can be specified as range, use [1:5])
size = 5:10 

# influences the slope of the learning curve and neighborhood function
slope = 0.2:0.5

# initial neighborhood value (number or relative to size (use "relative"))
sigma = relative

# initial learning rate value
learning-rate = 0.5:1.0

# how to initialize the neurons. options are: random or observations
init-weights = random

# training procedure. options are: batch or random 
training-procedure = random

# number of iterations for learning
iterations = 10000

# random seed number
seed = 1